extends layout

block content
  h1= title

  - var username = user && user.username
  if username
    span= 'Hello ' + username
    a(href="/auth/logout") Logout
  else
    p
      a(href="/login") Login
      | Or 
      a(href="/create") Create
    

  p Welcome to #{title}
