.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fieldArea {
  padding: 0 8px;
  border-radius: 10px;
  border: 6px solid #ebebeb;
  background-color: white;
  overflow: hidden;
}

.label {
  position: relative;
  display: block;
  min-width: 200px;

  &:nth-child(n+2) {
    border-top: 1px solid #ebebeb;
  }

  & :global(.icon) {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  & :global(.input) {
    display: block;
    width: 100%;
    border: 0;
    padding: 10px 20px 10px 40px;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;;
  }
}

.links {
  margin-top: 10px;
  & :global(.link) {
    color: #929292;
    font-size: 14px;
  }
}
